/* ── Home Hero ── */
.home-hero {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-hero_content-1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1200px;
  margin: auto;
  /* background-color: rgb(43, 43, 43); */
}

.home-hero_text {
  margin-top: 1rem;
  /* max-width: 500px; */
  /* flex: 1; */
  padding: 1rem;
}

.home-hero_quote {
  /* font-size: 1.25rem; */
  font-style: italic;
}

.home-hero_text p {
  margin-top: 1rem;
}

.home-hero_img {
  width: 600px;
  height: auto;
  border-radius: 12px;
}

/* ── Home hero content 2 ── */
.home-hero_content-2 {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  /* background-color: rgb(43, 43, 43); */
}

.signature {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-left: 0.5rem;
  /* border-left: 2px solid rgba(186, 186, 186, 0.4); */
  text-align: center;
}

.signature_namaste {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.7;
}

.signature_name {
  font-size: 1.2rem;
  /* font-weight: 500; */
  font-style: italic;
  /* color: #fff; */
}

.home-hero_img2 {
  /* width: 600px; */
  height: auto;
  border-radius: 12px;
}

.title {
  max-width: 1200px;
  margin: auto;
  text-align: left;
  /* background-color: brown; */
}

.title-section {
  background-color: rgb(26, 26, 26);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
